<main>
	<div class="jumbo"></div>
	<div class="container icons">
		<%= cl_image_tag current_user.avatar.key, height: 200, width: 200, crop: :pad, class: "big-icon" %>
	</div>
	<div class="details">
		<h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
	</div>
	<div class="button-annonce">
      <%= link_to "Gérer mes annonces", owner_camping_cars_path, class: "demande-reservation-button btn btn-light-blue btn-md" %>
      <%= link_to "Créer une annonce", new_owner_camping_car_path, class: "demande-reservation-button btn btn-light-blue btn-md" %>
    </div>
  </div>

<div class="container pics">
	<div class="title">
		<h3>Mon historique</h3>
	</div>
    <% @bookings.each do |booking| %>
	<div class="container">
    <div class="card-group vgr-cards">
      <div class="card">
        <div class="card-img-body">
          <%= cl_image_tag booking.camping_car.photo.key, height: 200, width: 200, crop: :fill, class: "card-img" %>
        </div>
        <div class="card-body">
          <h4 class="card-title"></h4><%= booking.camping_car.title %></h4>
          <p class="card-text"><p> Loué du <%= booking.start_date %> jusqu'au : <%= booking.end_date %></p></p>
          <p class="card-text"><%= booking.total_price %>€</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <div class="container-cards-reservation">
    <h3 class="text-annonces">Mes demandes de réservations:</h3>
    <div class="card-reservation">
      <% @reservations.each do |reservation| %>
        <% if reservation.status == "Pending" %>
            <%= cl_image_tag reservation.user.avatar.key, height: 80, width: 80, crop: :fill, class: "photo-reservation" %>
          <div class="description-reservation">
            <h5> Bonjour, je suis intéressé pour louer votre bien du <%= reservation.start_date.strftime("%d %B %Y") %> jusqu'au :<%= reservation.end_date.strftime("%d %B %Y") %></h5>
          </div>
          <div class="buttom-reservation">
            <%= link_to "Accepter", accept_owner_booking_path(reservation), method: :patch, class: "demande-reservation-button btn btn-light-blue btn-md" %>
            <%= link_to "Refuser", deny_owner_booking_path(reservation), method: :patch, class: "demande-reservation-button btn btn-light-blue btn-md" %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
