<div class="background-form-owner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "van-banner-annonce.jpg" %>);">
  <div class="container">
    <%= link_to "back", camping_cars_path %>
    <h1 class="h1-owner-form">Créer une annonce</h1>

    <%= simple_form_for [:owner, @camping_car] do |f| %>
      <div class="row label-style">
        <div class="col-6 label-style">
          <%= f.input :title ,
                      :label => "Titre de l'annonce",
                      required: true%>
        </div>
        <div class="col-sm-6">
          <%= f.input :category,
                      :label => "Catégorie",
                      :collection => [ "van", "profilé", "intégral" ],
                      required: true %>
        </div>
        <div class="col-sm-6">
          <%= f.input :brand,
                      :label => "Marque",
                      required: true %>
        </div>
        <div class="col-sm-6">
          <%= f.input :sleeps_capacity,
                      :label => "Nombre de couchettes",
                      required: true %>
        </div>
        <div class="col-sm-6">
          <%= f.input :description,
                      :label => "Description de l'annonce",
                      required: true %>
        </div>
        <div class="col-sm-6">
          <%= f.input :price_per_day,
                      :label => "Prix par jour",
                      required: true %>
        </div>
        <div class="col-sm-6">
          <%= f.input :location,
                      :label => "Lieux",
                      required: true %>
        </div>
         <div class="col-sm-6">
          <%= f.input :photo, as: :file,
                      :label => "Télécharger votre photo",
                      required: true %>
        </div>

      </div>
        <%= f.submit "Poster mon annonce", class: "submit-btn-owner" %>


    <% end %>

  </div>
</div>
