<div class="container">
  <h1 class="mt-5">Créer une annonce</h1>

  <%= simple_form_for [:owner, @camping_car] do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :title %>
      </div>
      <div class="col-sm-6">
        <%= f.input :category %>
      </div>
      <div class="col-sm-6">
        <%= f.input :brand %>
      </div>
      <div class="col-sm-6">
        <%= f.input :sleeps_capacity %>
      </div>
      <div class="col-sm-6">
        <%= f.input :description %>
      </div>
      <div class="col-sm-6">
        <%= f.input :price_per_day %>
      </div>
      <div class="col-sm-6">
        <%= f.input :location %>
      </div>
       <div class="col-sm-6">
        <%= f.input :photo, as: :file%>
      </div>

    </div>
      <%= f.submit "Poster mon annonce", class: "btn btn-primary" %>


  <% end %>

</div>
