<div class="index-jumbo jumbotron jumbotron-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.png" %>);">
  <div class="container-jumbotron-from">
    <h1 class="display-4">Votre futur Camping Car</h1>
    <h2>L'aventure commence ici....</h2>
    <section class="search-container">
    <div class="form-container">
        <form action="/camping_cars" method="get" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-input-index col-lg-2 col-md-3 col-sm-12 p-0">
                            <input name="city" type="text" class="form-control search-slt" placeholder="Entrez votre ville">
                        </div>
                        <div class="form-input-index col-lg-2 col-md-3 col-sm-12 p-0">
                            <input type="date" label="Date de départ" class="form-control search-slt" placeholder="Enter Drop City">
                        </div>
                        <div class="form-input-index col-lg-2 col-md-3 col-sm-12 p-0">
                            <input type="date" label="Date de départ" class="form-control search-slt" placeholder="Enter Drop City">
                        </div>
                        <div class="form-input-index col-lg-2 col-md-3 col-sm-12 p-0">
                            <select name="category" class="form-control search-slt" id="exampleFormControlSelect1" placeholder="Categories">
                                <option>Van</option>
                                <option>Intégral</option>
                                <option>Profilé</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="searchformbutton btn btn-success wrn-btn">Rechercher</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
  </div>
</div>



<div class="index-container">
  <div class="card-container row row-cols-1 row-cols-md-4">
  <% @camping_cars.each do |camping_car| %>
    <div class="display-card col mb-4 col-xl-6">
      <div class="camping-card card h-100">
        <div class="view overlay" style = "background-image: url('<%= cl_image_path camping_car.photo.key, height: 300, width: 345, crop: :fill %>')">
          <div class="mask rgba-white-slight"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= camping_car.title %></h4>
          <p class="card-text"><i class="fas fa-bed card-icone-bed"></i><%= camping_car.sleeps_capacity%></p>
          <p class="card-price"><i class="fas fa-euro-sign card-icone-price"></i></i>A partir de <%= camping_car.price_per_day%>€ par jour</p>
          <%= link_to("Details",camping_car_path(camping_car), class:"demande-reservation-button btn btn-light-blue btn-md")  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div id="map"
    style="height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
