<div class="show-campingcars">
 <div class="cards">
    <div class="card-camping-car">
      <%= cl_image_tag @camping_car.photo.key, height: 300, crop: :fill %>
      <div class="ard-campingcar-trip-infos">
        <h2> <%= @camping_car.title %> </h2>
        <div class="campingcars-infos">
          <div class="campingcars-categories"> Categorie: <%= @camping_car.category %></div>
          <div class="campingcars-categories"> Marque: <%= @camping_car.brand %></div>
          <div class="campingcars-categories"> Couchages: <%= @camping_car.sleeps_capacity %></div>
          <div class="campingcars-categories"> Lieu: <%= @camping_car.location %></div>
        </div>
        <p> <%= @camping_car.description %> </p>
      </div>
    </div>
    <div class="card-booking-infos" >
      <label for="start">Start date:</label>
      <input type="date" id="start" name="trip-start"
             value="2020-11-25"
             min="2020-11-25" max="2021-11-25">
      <label for="end">End date:</label>
      <input type="date" id="end" name="trip-end"
             value="2020-11-25"
             min="2020-11-26" max="2021-11-26">
    </div>
  </div>
</div>
